{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td>
            <img src="{{ context.user.avatar(128) }}">
        </td>
        <td>
            <h1>
                User: {{ context.user.username }}
            </h1>
            {% if context.user.about_me %}
            <p>
                {{ context.user.about_me }}
            </p>
            {% endif %}
            {% if context.user.last_seen %}
            <p>
                Last seen on: {{ context.user.last_seen }}
            </p>
            {% endif %}
            <p>
                {{ context.user.followed.count() }} following,
                {{ context.user.followers.count() }} followers.
            </p>
            <p>
                {% if current_user == context.user %}
                <a href="{{ url_for('edit_profile') }}">
                    Edit Profile
                </a>
                {% elif current_user.is_following(context.user) %}
                <a href="{{ url_for('unfollow', username=context.user.username) }}">
                    Unfollow
                </a>
                {% else %}
                <a href="{{ url_for('follow', username=context.user.username) }}">
                    Follow
                </a>
                {% endif %}
            </p>
        </td>
    </tr>
</table>
<hr>
{% for post in context.posts %}
{% include '_post.html' %}
{% endfor %}
{% endblock %}